img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.oferton {
    
    border: 3px solid #2ee01eb0;
    color: #000;
    
}
.clearance {
    border: 6px solid lightgreen;
}

.smallInput{
    width: 30px;
}

.form-group {
    display: flex;
    align-items: center;
}